.wrap {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg_opacity {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contanier {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  padding: 0 48px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  @include breakpoint-sm() {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 50px;
  }
  @include breakpoint-desktop() {
    padding-top: 20px;
  }
}

.logo_side {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint-lg() {
    width: 100px;
  }
  @include breakpoint-sm() {
    flex-direction: row;
    max-width: 360px;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
  }
}

.logo {
  padding-bottom: 185px;
  @include breakpoint-desktop() {
    padding-bottom: 60px;
  } 
  @include breakpoint-xl() {
    padding-bottom: 105px;
  }
  @include breakpoint-lg() {
    padding-bottom: 60px;
  }
  @include breakpoint-sm() {
    padding-bottom: 0px;
    width: 100px;
  }
  @include breakpoint-xs() {
    padding-bottom: 0px;
    width: 80px;
  }
}

.logo_word {
  padding-bottom: 48px;
  @include breakpoint-sm() {
    padding-bottom: 24px;
  }
}

.logo_title {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: white;
  margin-bottom: 16px;
  font-family: "Noto Sans TC";
  @include breakpoint-sm() {
    padding-top: 24px;
  }
  @include breakpoint-xs() {
    padding-top: 12px;
  }
}

.logo_txt {
  font-size: 12px;
  line-height: 18px;
  color: white;
  font-weight: lighter;
  font-family: "Noto Sans TC";
  margin-bottom: 50px;
  @include breakpoint-sm() {
    margin-bottom: 24px;
  }
}

.bg_page {
  display: flex;
  justify-content: center;
}

.page {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 11px;
}

.page_active {
  background-color: #fff;
}

.content {
  width: 825px;
  @include breakpoint-desktop() {
    width: 200px * 3;
    height: 200px * 2;
  }
  @include breakpoint-xl {
    width: calc(230px * 3);
    height: calc(230px * 2);
  }
  @include breakpoint-lg() {
    width: 180px * 3;
    height: 180px * 2;
  }
  @include breakpoint-md() {
    width: 180px * 2;
    height: 180px * 3;
  }
  @include breakpoint-xs() {
    width: 140px * 2;
    height: 140px * 3 ;
  }
}

.room_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.roomBtn {
  width: 275px;
  height: 275px;
  cursor: pointer;
  @include breakpoint-desktop() {
    width: 200px;
    height: 200px;
  }
  @include breakpoint-xl() {
    width: 230px;
    height: 230px;
  }
  @include breakpoint-lg() {
    width: 180px;
    height: 180px;
  }
  @include breakpoint-xs() {
    width: 140px;
    height: 140px;
  }
  &:hover {
    .roomBtn_active {
      display: flex;
    }
  }
}

.roomBtn_active {
  color: #fff;
  background-color: rgba(56, 71, 11, 0.6);
  font-size: 19px;
  line-height: 26px;
  font-family: "Open Sans";
  text-shadow: 0px 3px 6px #00000029;
  text-align: center;
  height: 275px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: none;
  @include breakpoint-desktop() {
    height: 200px;
  }
  @include breakpoint-xl() {
    height: 230px;
  }
  @include breakpoint-lg() {
    height: 180px;
  }
  @include breakpoint-xs() {
    height: 140px;
  }
}

.footer {
  text-align: end;
  color: #FFFFFF;
  opacity: 0.6;
  font-size: 12px;
  line-height: 17px;
  font-family: "Open Sans";
  @include breakpoint-sm() {
    display: none;
  }
}

.footer_sm {
  display: none;
  @include breakpoint-sm() {
    display: block;
    max-width: 360px;
    width: 100%;
    font-size: 5px;
    line-height: 12px;
    opacity: 0.3;
  }
}
