/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+TC:wght@300;400;500&family=Open+Sans:ital,wght@0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+TC:wght@300;400;500&family=Open+Sans:ital,wght@0,400;0,500;1,300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-position: center center;
  font-family: "Noto Sans TC";
}

.wrap {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg_opacity {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.contanier {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 9.4vh;
  padding-top: 17vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_side {
  width: 145px;
}

.logo {
  margin-bottom: 24vh;
}

.logo_title {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: white;
  margin-bottom: 16px;
  font-family: "Noto Sans TC";
}

.logo_txt {
  font-size: 12px;
  line-height: 18px;
  color: white;
  font-weight: lighter;
  font-family: "Noto Sans TC";
  margin-bottom: 7vh;
}

.bg_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 11px;
}

.page_active {
  background-color: #fff;
}

.room_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 825px;
  height: 550px;
}

.roomBtn {
  width: 275px;
  height: 275px;
  cursor: pointer;
}

.roomBtn:hover .roomBtn_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.roomBtn_active {
  color: #fff;
  background-color: rgba(56, 71, 11, 0.6);
  font-size: 19px;
  line-height: 26px;
  font-family: "Open Sans";
  text-shadow: 0px 3px 6px #00000029;
  text-align: center;
  height: 275px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.d-none {
  display: none;
}

.position-relative {
  position: relative;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.show {
  display: block;
}

.clear {
  clear: both;
}
/*# sourceMappingURL=all.css.map */